body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: rgb(134, 67, 21);
}

.box1 {
    height: 100vh;
    width: 100%;
    background-image: url(image1.jpg);
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
}

.box3 {
    height: 100vh;
    width: 100%;
    background-image: url(image3.jpg);
    background-size: cover;
    background-position: center;
    display: table;
    background-attachment: fixed;
}

h1 {
    font-family: comic sans ms;
    font-size: 28px;
    color: #392E2C;
    margin: 0px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

h1 a {
    display: absolute;
    display: block;
    vertical-align: middle;
    width: 50%;
    height: 50px;
    background: #F2CCC4;
    padding-left: 20px;
    transition: .5s;
    box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5);
}

h1 a:hover {
    transform: translate(20px, -15px);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}